@model plan02.Models.UserDatum

@{
    ViewData["Title"] = "Create";
}

<h1>新增聘任資料</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdNumber" class="control-label"></label>
                <input asp-for="IdNumber" class="form-control" />
                <span asp-validation-for="IdNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UName" class="control-label"></label>
                <input asp-for="UName" class="form-control" />
                <span asp-validation-for="UName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unit" class="control-label"></label>
                @*<input asp-for="Unit" class="form-control" />*@
                <select asp-for="Unit" class="form-control">
                    <option value="India">專任助理</option>
                    <option value="China">獎助生(學習型)兼任助理</option>
                    <option value="Australia">勞僱型兼任助理</option>
                    <option value="France">勞僱型臨時工(臨時僱用且無專職工作)</option>
                </select>
                <span asp-validation-for="Unit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tel" class="control-label"></label>
                <input asp-for="Tel" class="form-control" />
                <span asp-validation-for="Tel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UGender" class="control-label"></label>
                <input asp-for="UGender" class="form-control" />
                <span asp-validation-for="UGender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="USalary" class="control-label"></label>
                <input asp-for="USalary" class="form-control" />
                <span asp-validation-for="USalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UEmployeeTime" class="control-label"></label>
                <input asp-for="UEmployeeTime" class="form-control" />
                <span asp-validation-for="UEmployeeTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="新增" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">返回聘任表單列表</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


@*@model plan02.Models.UserDatum*@

@*@{
    ViewData["Title"] = "Create";
}*@

@*<h1>Create</h1>

<h4>UserDatum</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdNumber" class="control-label"></label>
                <input asp-for="IdNumber" class="form-control" />
                <span asp-validation-for="IdNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UName" class="control-label"></label>
                <input asp-for="UName" class="form-control" />
                <span asp-validation-for="UName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unit" class="control-label"></label>
                <input asp-for="Unit" class="form-control" />
                <span asp-validation-for="Unit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tel" class="control-label"></label>
                <input asp-for="Tel" class="form-control" />
                <span asp-validation-for="Tel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UGender" class="control-label"></label>
                <input asp-for="UGender" class="form-control" />
                <span asp-validation-for="UGender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="USalary" class="control-label"></label>
                <input asp-for="USalary" class="form-control" />
                <span asp-validation-for="USalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UEmployeeTime" class="control-label"></label>
                <input asp-for="UEmployeeTime" class="form-control" />
                <span asp-validation-for="UEmployeeTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
