@{
    ViewData["Title"] = "AccessDenied";
}


<div class="text-center">
    <h1 class="display-4"> Access Denied </h1>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"> Back to  Home </a>
</div>


@*@{
        ViewData["Title"] = "AccessDenied";
    }

    <h1>AccessDenied</h1>*@

