@{
    ViewData["Title"] = "登出";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> 登出 </title>
</head>
<body>

    <h1> Your are logout. </h1>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"> 返回首頁 </a>
</body>
</html>

