@model plan02.Models.AUser

@{
    ViewData["Title"] = "Register";
}

<h1>註冊</h1>
<hr />

<div class="row">
    <div class="col-md-9">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Aidentity" class="control-label">身分證字號</label>
                <input asp-for="Aidentity" class="form-control" />
                <span asp-validation-for="Aidentity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aaccount" class="control-label">帳號</label>
                <input asp-for="Aaccount" class="form-control" />
                <span asp-validation-for="Aaccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apassword" class="control-label">密碼</label>
                <input asp-for="Apassword" class="form-control" type="password" />
                <span asp-validation-for="Apassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="送出" class="btn btn-primary" />
            </div>
            <b>@ViewBag.message</b>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@*@model plan02.Models.BUser

    @{
        ViewData["Title"] = "註冊";
    }

    <h1>註冊</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Register">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Register" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@


