@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model SelectList
@*@{
    Layout = null;
}*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form method="post" asp-controller="Home" asp-action="Upload2">
        <select id="ddlCustomers" name="CustomerId" asp-items="Model">
            <option value="0">--Select Customer--</option>
            <option value="1">--美國--</option>
            <option value="2">--臺灣--</option>
        </select>
        <input type="hidden" name="CustomerName" />
        <br />
        <br />
        <input type="submit" value="Submit" />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript">
            $("body").on("change", "#ddlCustomers", function () {
                $("input[name=CustomerName]").val($(this).find("option:selected").text());
            });
        </script>
        @if (ViewBag.Message != null)
        {
            <script type="text/javascript">
            $(function () {
                alert("@ViewBag.Message");
            });
            </script>
        }
    </form>
</body>
</html>


@*@model plan02.Models.Customer
    @addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
    @{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>
    <body>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Insert</button>
        <form method="post" asp-action="Upload2" asp-controller="Home">
            <div id="exampleModal" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Customer Details Form</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Name:</label>
                                <input type="text" asp-for="Name" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Country:</label>
                                <select asp-for="Country" class="form-control">
                                    <option value="">Please select</option>
                                    <option value="India">India</option>
                                    <option value="China">China</option>
                                    <option value="Australia">Australia</option>
                                    <option value="France">France</option>
                                    <option value="Unites States">Unites States</option>
                                    <option value="Russia">Russia</option>
                                    <option value="Canada">Canada</option>
                                </select>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Save changes</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        @if (Model != null)
        {
            <script type="text/javascript">
                $(function () {
                    alert("Inserted Customer ID: " + @Model.CustomerId);
                });
            </script>
        }
    </body>
    </html>*@