@model plan02.Models.PunchIn

@{
    ViewData["Title"] = "Create2";
}

@{
    int year = 2022;
    int month = 3;
    int daysInMonth = DateTime.DaysInMonth(year, month);
}

<h1>每月簽到退</h1>


<hr />
<h2 align="center">@year @month 月份</h2>
<form asp-action="Create2">

    <table class="table">
        <thead>
            <tr>
                <th>
                    年
                </th>
                <th>
                    月
                </th>
                <th>
                    日
                </th>
                <th>
                    上班時間
                </th>
                <th>
                    下班時間
                </th>
                <th>
                    請假備註
                </th>

            </tr>
        </thead>
        <tbody>

            @for (int day = 1; day <= daysInMonth; day++)
            {
                <tr>
                    <td>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input name=PunchIn[@(day-1)].Year asp-for="Year" class="form-control" value=@year readonly="readonly" />
                            <span asp-validation-for="Year" value="@year" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input name=PunchIn[@(day-1)].Month asp-for="Month" class="form-control" value=@month readonly="readonly" />
                            <span asp-validation-for="Month" value="@month" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input name=PunchIn[@(day-1)].Day asp-for="Day" class="form-control" value=@day readonly="readonly" />
                            <span asp-validation-for="Day" value="@day" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input name=PunchIn[@(day-1)].PunchIn1 asp-for="PunchIn1" class="form-control" />
                            <span asp-validation-for="PunchIn1" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input name=PunchIn[@(day-1)].PunchOut asp-for="PunchOut" class="form-control" />
                            <span asp-validation-for="PunchOut" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input name=PunchIn[@(day-1)].Remark2 asp-for="Remark2" class="form-control" />
                            <span asp-validation-for="Remark2" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
            }
            <input type="submit" value="送出" class="btn btn-primary" />
        </tbody>

    </table>
</form>