@model plan02.Models.PunchIn

@{
    ViewData["Title"] = "Edit";
}

<h1>編輯簽到退</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Pid" />
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Month" class="control-label"></label>
                @*<input asp-for="Month" class="form-control" />*@
                <select asp-for="Month" class="form-control" asp-items="@ViewBag.monthss"></select>
                <span asp-validation-for="Month" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Day" class="control-label"></label>
                <input asp-for="Day" class="form-control" />
                <span asp-validation-for="Day" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PunchIn1" class="control-label"></label>
                <input asp-for="PunchIn1" class="form-control" />
                <span asp-validation-for="PunchIn1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PunchOut" class="control-label"></label>
                <input asp-for="PunchOut" class="form-control" />
                <span asp-validation-for="PunchOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remark2" class="control-label"></label>
                <input asp-for="Remark2" class="form-control" />
                <span asp-validation-for="Remark2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

