@model PunchIn
@{
    ViewData["Title"] = "Index4";
}

<form asp-action="Index4">
        <label asp-for="Year" for="selectlenth">選擇年</label>
        <select name="Year" id="Year">
            <option value="2022" >2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
            <option value="2025">2025</option>
            <option value="2026">2026</option>
        </select>
      <label asp-for="Month" for="selectMonth">選擇月</label>
        <select name="Month" id="Month">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
       <input type="submit" value="搜尋">
    </form>

 

  @*  <p><h3>@Model.Year </h3></p>
     <p><h3>@Model.Month </h3></p>*@
   
    